html{
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	margin: 0;
	color: black;
	background-color: #001E2E;
	background: url("../img/main.png") no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

a {
	text-decoration: none;
	cursor: pointer;
}

button,
button:active,
button:focus {
outline: none !important;
}

input {
	outline:none;
}

h1 {
	font-style: normal;
	font-weight: bold;
	font-size: 33px;
	line-height: 49px;
	text-align: center;
	color: #FFFCFC;
}
h2 {
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 40px;
	text-align: center;
	color: #FFFCFC;
}

.container{
	max-width: 95%;
	margin: 0 auto;
	padding: 0 25px;
}

.external__container{
	max-width: 95%;
	margin: 170px auto;
	padding: 25px;
	background: #001E2E;
	min-height: 80px;
}

.page{
	padding: 40px 0;
}

.paragraph{
	margin: 50px 0;
	display: block;
	text-align: center;
}


.page__text {
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #FFFCFC;
	text-align: justify;
	padding-top: 20px;
}
.center{
	text-align: center;
	font-weight: 600;
	padding: 0 10%;
}

.page__text img {
	padding: 0;
	float: right;
	margin: 0 0 20px 30px;
	height: 200px;
	vertical-align: top
}

.left img{
	float: left;
	margin: 0 30px 20px 0;
}

.slidrsec{
	margin-top: 0px !important;

}


.floating-button {
	display: block;
	text-decoration: none;
	display: inline-block;
	padding: 0 20px;
	height: 45px;
	width: 270px;
	line-height: 45px;
	border-radius: 20px;
	margin: 10px 1%;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1.3px;
	font-weight: 800;
	color: #524f4e;
	background: white;
	box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
	transition: .25s;
}

.floating-button:hover {
  background: #0054BA;
  box-shadow: 0 5px 2px rgba(0, 84, 186, 0.553);
  color: white;
  transform: translateY(-5px);
}

.tab{
	cursor: pointer;
}
.tabs__second{
	cursor: pointer;
}
.tab__second{
	display: block;
	text-decoration: none;
	display: inline-block;
	padding: 0 20px;
	height: 45px;
	width: 270px;
	line-height: 45px;
	border-radius: 20px;
	margin: 10px 1%;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1.3px;
	font-weight: 800;
	color: #fff;
  background: #002e48;
	box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
	transition: .25s;
}

.tab__second:hover{
	background: #002e48;
  box-shadow: 0 5px 2px rgba(0, 84, 186, 0.553);
  color: white;
  transform: translateY(-5px);
}

.activecap__second { 
	background: #003f61;
	color: white;
}

.tab:active {
	background: #57a3ff;
	transform: translateY(2px);
	box-shadow: 0 2px 0 rgba(0, 84, 186, 0.765);
}

.tabs__caption{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	padding: 1% 10%;
	margin: -25px;
	margin-bottom: 40px;
	background: #002e48;
}
.tabs__second{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	padding: 1% 10%;
	margin: -20px -25px; 
	margin-bottom: 30px;
	background: #f9f9f9;
}

.tabs__block{
	display: none;
	padding-top: 120px;
}

.tabs__block:target {
	display: block;
}

.tabs-wrapper .activecap { 
	background: #0054BA;
	color: white;
}
.slidrsec{
	margin-top: 250px;
	background: rgba(0, 30, 46, 0.66);
	padding: 5px 0;
}


.tabs__content {
	display: none;
	
}
.tabs__content.active {
	display: block;
}
