html{
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	margin: 0;
	color: black;
	background-color: #001E2E;
}

a {
	text-decoration: none;
}

.container{
	max-width: 1500px;
	margin: 0 auto;
	padding: 0 25px;
}



header{
	font-size: 20px;
	width: 100%;
	position: fixed;
	text-align: center;
	height: 100px;
	left: 0px;
	top: 0px;	
	background-color: rgba(0, 61, 83, 0.60);
	z-index: 1000;
	padding-top: 20px;
	transition: all 0.2s ease;
}

header.sticky {
	font-size: 18px;
	padding-top: 10px;
	height: 80px;
	background-color: #003e62;
	transition: all 0.3s ease;
}

.header__container{
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
}


.menu__button{
	height: 50px;
	padding-top: 10px;
}

.header__nav__ul{
	display: flex;
	flex-wrap: wrap;
}

.header__item{
	padding-top: 10px;
	margin-right: 65px;
}

.header__item:last-child{
	margin-right: 0;
}

.nav__button{
	height: 40px;
	vertical-align: middle; 
}


.header__link{
	font-style: normal;
	font-weight: bold;
	line-height: 20px;
	color: #FFFCFC;
	padding: 10px;

}

.header__link:hover{
	opacity: .5;
	transition: .1s linear;
}
.header__link:active{
	opacity: .5;
	transition: .1s linear;
}

.logo__nemk{
	height: 60px;
}

.intro{
	min-height: 100vh;
	background: url(../img/main.png) no-repeat center;
	background-size: cover;
	box-sizing: inherit;
}

.intro__items{
	text-align: center;
}

.intro__top{
	width: 100%;
	margin: 0 auto;
	transform: translate(0, 110px);
	text-align: right;
}

.intro__item{
	padding: 10px;
}
.intro__item img{
	height: 30px;
}

.mainlogo{
	text-align: center;
}

.maintext{
	padding: 0 250px 0 250px;
	text-align: center;
}

.header__text{
	font-style: normal;
	font-weight: bold;
	font-size: 85px;
	line-height: 110px;

	text-align: center;
	color: #FFFCFC;
}

.header__text2{
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 50px;

	text-align: center;
	color: #FFFCFC;
}

.header__text3{
	padding: 20px 150px 0 150px;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 30px;

	text-align: center;
	color: #FFFCFC;
}

@media (max-width: 1400px){
	.header__text{
	font-size: 80px;
	
}

.header__text2{
	font-size: 35px;
	line-height: 50px;
}

.header__text3{
	font-size: 20px;
	
}
}

@media (max-width: 1300px){
	.header__text{
	font-size: 70px;
	
}

.header__text2{
	font-size: 30px;
	line-height: 50px;
}

.header__text3{
	font-size: 15px;
	
}
.maintext{
	padding: 0 200px 0 200px;
	text-align: center;
}
}
@media (max-width: 1000px){
	.header__text{
	font-size: 70px;
	
}

.header__text2{
	font-size: 35px;
	line-height: 40px;
}

.header__text3{
	font-size: 20px;
	
}
.maintext{
	padding: 0 150px 0 150px;
	text-align: center;
}
}

@media (min-height: 1000px){
	.maintext{
	padding: 100px 200px 0 200px;
}
}

@media (min-height: 1200px){
	.mainlogo{
	padding-top: 100px;
}
	.mainlogo img{
	height: 300px;
}
	.header__text{
	font-size: 90px;
	
}

	.header__text2{
	font-size: 40px;
	line-height: 55px;
}

	.header__text3{
	font-size: 30px;
	line-height: 60px;

	
}
	.maintext{
	padding: 0 200px 0 200px;
	text-align: center;
}
}


.rectangle{
	margin: 0 auto;
	height: 3px;
	max-width: 1000px;
	background-color: #fff;
}	

.main__buttons{
	padding-top: 10px;
	margin-top: 90px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	opacity: 0;


	animation-name: faser;
	animation-duration: 1.3s;
	animation-delay: .1s;
	animation-fill-mode: forwards;
}

@keyframes faser{
	0%{
		top: 0;
		opacity: 0;
	}
	45%{
		opacity: 0;
	}
	100%{
		top: -300px;
		opacity: 1;
	}
}

.main__btn img{
	height: 165px;
}

.bmts{
	margin-bottom: -300px;
}



/*................................*/

.site__body{
	width: 100%;
	height: 5000px;

}

.sec__header{
	margin: 170px 0 80px 0;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 49px;
	text-align: center;
	color: #FFFCFC;
}


/********************Slider***************************/

.slider {
	position: relative;
	overflow: hidden;
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 30px;
	transition: all 1s ease;
}

.slider__wrapper {
	display: flex;
	transition: transform 0.6s ease;
	margin-bottom: 20px;
}

.slider__item {
	flex: 0 0 100%;
	max-width: 100%;
	padding-left: 20px;
	padding-right: 20px;

}

@media (min-width: 576px) {
	.slider__item {
	flex: 0 0 50%;
	min-width: 370px;
	}
}

@media (min-width: 992px) {
	.slider__item {
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
	}
}

@media (min-width: 1200px) {
	.slider__item {
	flex: 0 0 25%;
	max-width: 25%;
	}
}

.slider__control {
	margin: 0 -5px;
	position: absolute;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	color: #fff;
	text-align: center;
	bottom: 0;
	background: #001E2E;
}

.slider__control:hover,
.slider__control:focus {
	color: #fff;
	text-decoration: none;
	outline: 0;
}

.slider__control_left {
	left: 0;
}

.slider__control_right {
	right: 0;
}

.slider__control::before {
	content: '';
	display: inline-block;
	width: 38px;
	height: 38px;
	background: transparent no-repeat center center;
	background-size: 100% 100%;
}

.slider__control_left::before {
	background-image: url("../img/svg/left-arrow.svg");
}

.slider__control_right::before {
	background-image: url("../img/svg/right-arrow.svg");
}

.slider__content_header {
	position: relative;
}

.slider__content_img {
	display: block;
	height: auto;
	width: 100%;
}

.slider__content_section {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #009688;
	color: #fffff9;
	padding: 4px 8px;
}

.slider__content_title {
	background: #f5f5f5;
	color: #424242;
	white-space: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.3;
	padding: 10px 15px;
	margin: 0;
	height: 52px;
}

	.slider__content_footer {
	background: #f5f5f5;
	display: flex;
	padding: 60px;
	color: #616161;
}

.slider__content_views {
	height: 40px;
    font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	text-decoration-line: underline;	
    text-align: right;
    width: 100%;
    background-color: #f5f5f5;
    cursor: pointer;
}

.slider__content_views a {
	padding: 25px;
	color: black;
}

.slider__indicators {
    position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 15;
	display: flex;
	justify-content: center;
	padding-left: 0;
	margin-right: 15%;
	margin-left: 15%;
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
}

.slider__indicators li {
    	border-radius: 100px;
	box-sizing: content-box;
	flex: 0 1 auto;
	width: 20px;
	margin-right: 5px;
	margin-left: 5px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #00337b;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	opacity: .2;
	transition: opacity .6s ease;
}

.slider__indicators li.active {
	opacity: 1;
}

/*****************************************************************/

.mini-nav{
	display: flex;
	flex-wrap: wrap;
	max-width: 1500px;
	margin: 250px auto;
	padding: 0 50px;
	text-align: center;
}
/*
.mini-nav img{
	width: 100%
}
*/

.mini-nav img{
	height: 380px;
	
}

._1{
	padding-top: 100px;
}

.mn{
	transition: .3s;
}

.mn:hover {
    transform: scale(1.2); 
}

.ret{
	margin: -520px 0 0 0;
	height: 50px;
	max-width: 100%;
	background-color: #fff;
}

@media (max-width: 1480px){
	.mini-nav img{
	max-height: 360px;
}
	.ret{
	margin: -500px 0 0 0;
	height: 50px;
	max-width: 100%;
	background-color: #fff;

}
}

@media (max-width: 1400px){
	.mini-nav img{
	max-height: 340px;
}
	.ret{
	margin: -500px 0 0 0;
	height: 50px;
	max-width: 100%;
	background-color: #fff;
}
}

@media (max-width: 1330px){
	.mini-nav img{
	max-height: 300px;
}
	.ret{
	margin: -460px 0 0 0;
	height: 45px;
	max-width: 100%;
	background-color: #fff;
}
	._1{
	padding-top: 80px;
}
}
@media (max-width: 1200px){
	.mini-nav img{
	height: 0;
}	
	.ret{
	height: 0;
}
	._1{
}
}

/****************************************************/

.opp{
	margin: 450px 0 20px 0;
	text-align: center;
}

.opp img{
	width: 1100px;
}


.sec__header2{
	margin-bottom: 20px;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	line-height: 49px;
	text-align: center;
	color: #FFFCFC;
}

.game{
	background-color: #00263b;
}

.game__header{
	margin: 170px 0 20px 0;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 49px;
	text-align: center;
	color: #FFf;
	min-width: 100%;
	background: url('../img/Rectangle 1.png') no-repeat center;
	background-size: cover;
	box-sizing: inherit;

}

.g__items{
	margin: 0 auto;
	padding: 0 160px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.game__item{
	min-width: 200px;
	min-height: 200px;
	background-color: #fff;
	margin: 40px;
	border-radius: 10px;
	border: 4px solid black;
}

._b{
	background-color: #001521;
}

@media (max-width: 1500px){
	.game__item{
	min-width: 180px;
	min-height: 180px;
	}
	.g__items{
	padding: 0 190px;
}
}

/************************************************/

.contacts__header {
	padding-top: 30px;
}


.contacts__table{
	font-size: 20px;
	line-height: 20px;
	margin: 100px 0;	
}

.contacts__table_r {
	vertical-align: top;
	color: #fff;
	width: 50%;
	text-align: center;
}
.contacts__table_r img{
	height: 95px;
	padding: 20px;
}

.contacts__table_l {
	width: 50%;
	margin: 30px;
}

.contacts__table_l input {
	margin-bottom: 40px;
	background-color: #C4C4C4;
}
.contacts__table_l textarea {
	margin-bottom: 20px;
	background-color: #C4C4C4;
}

.contacts__input-name {
	border-radius: 10px;
	border: 1px solid;
	height: auto;
    padding: 12px;
    margin: 27px;
    width: 42%;
}

.contacts__input-phone {
	border-radius: 10px;
	border: 1px solid;
	height: auto;
    padding: 12px;
    margin: 27px;
    width: 40%;
}

.contacts__input-email {
	border-radius: 10px;
	border: 1px solid;
	width: 90%;
	height: auto;
    padding: 12px;
    margin: 0 25px 26px;
}

.contacts__input-massage {
	border-radius: 10px;
	border: 1px solid;
	width: 90%;
	min-height: 150px;
	height: auto;	
    padding: 12px;
    resize: none;
    background-color: #C4C4C4;
}

.contacts__btn {
	width: 40%;
	height: auto;	
    padding: 10px;
    margin-top: 20px;
    border: 2px solid #6C90BC;
	border-radius: 15px;
    text-transform: uppercase;
    background:  #6C90BC;
	font-size: 15px;
	font-weight: 700;
	color: #fff;
	transition: background .2s linear, color .2s linear;
	box-shadow: 2px 3px #0054BA;
}

.contacts__btn:hover {
	background-color: #4c75a8;
	
}

.contacts__btn:active {
  box-shadow: 1px 1px #0054BA;
  transform: translateY(4px);

}

.map {
    text-align: center;
}